@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&display=swap&subset=cyrillic,latin-ext");

body {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  color: #096;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
